<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Componentes_do_Chico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Componentes_do_Chico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Componentes_do_Chico.Properties.Settings>
            <setting name="MikTex_Bin_Folder" serializeAs="String">
                <value>D:\Projetos\MikTex\texmfs\install\miktex\bin</value>
            </setting>
            <setting name="Temp_Folder" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="Header_Padrao_LATEX" serializeAs="String">
                <value>\documentclass[preview]{standalone}
\usepackage{ulem}
\usepackage{graphicx}
\usepackage[usenames,dvipsnames,svgnames,table]{xcolor}
\DeclareGraphicsExtensions{.pdf,.png,.jpg}
\usepackage[portuguese]{babel}
\usepackage{pstricks-add}
\usepackage[latin1]{inputenc}
\usepackage{amsmath}
\usepackage{amsfonts}
\usepackage{enumerate}
\usepackage[left=0cm,top=0cm,right=0cm,nohead,nofoot]{geometry}
\geometry{
paperwidth=#PW#cm,
margin=0.5cm
}
\usepackage[light,math]{iwona}
\begin{document} 
</value>
            </setting>
            <setting name="Footer_Padrao_LATEX" serializeAs="String">
                <value>\end{document}</value>
            </setting>
        </Componentes_do_Chico.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Componentes_do_Chico.Properties.Settings>
            <setting name="Config_Reservade_Words" serializeAs="String">
                <value>config\latex_reservade.txt</value>
            </setting>
        </Componentes_do_Chico.Properties.Settings>
    </userSettings>
</configuration>